---
layout: page
title: About Me
description: This is what I do.
background: '/img/bg-about.png'
---

<p>Hi, ich bin Minh Hieu Nguyen! 🚀

<p>📍 Base: 21 Jahre alt, lebe im schönen Oberfranken. </p>
<p>❤️ Loves: Wandern, gute Musik und das Entdecken von Neuem. </p>
<p>💻 Work: Wissen über Cybersecurity teilen & Learning Resources bereitstellen.</p>

<p>Work in Progress: Diese Website ist mein persönliches Lernprojekt. Ich bin ganz neu im Webentwicklung, also wundert
    euch nicht, wenn es hier optisch noch etwas "nüchtern" zugeht. Ich arbeite daran!</p>

<p>Bug gefunden? Sag mir gerne Bescheid. Ansonsten: Schönen Tag und viel Spaß hier!</p>